/Secret/*
/6_term/Курсовая работа/Тахограф/*
/7_term/Технологии обработки больших данных/ЛР1 (7 вариант)/Backup/*
/7_term/Технологии обработки больших данных/ЛР2 (9 вариант)/Backup/*
/7_term/Технологии обработки больших данных/ДР1 (8 вариант)/Backup/*
/7_term/Технологии обработки больших данных/ЛР3 (9 вариант)/Backup/*
/7_term/Технологии обработки больших данных/ЛР4 (9 вариант)/Backup/*
/7_term/Технологии обработки больших данных/ДР2 (9 вариант)/Backup/*
/final_qualifying_work/Projects/server_data/*